*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(./assets/img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
    padding: 10px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    border-radius: 5px;
}

nav>ul>li {
    margin-right: 30px;
    position: relative;
    border-radius: 5px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.3s;

}
nav .fa-solid {
    margin-right: 8px;
}
nav ul li:hover{
    background-color: aquamarine;
    
}
nav ul li a:hover {
    color: black;
}
.logo img{
    width: 100px;
    cursor: pointer;
}

.drop-down {
    width: 200px;
    background-color: rgb(12, 145, 101);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    z-index: 2;
}
.drop-down .fa-solid {
    margin-left: 30px;  
}

nav ul li:hover .drop-down {
    display: block;
}

.drop-down li {
    position: relative;
}

.drop-down-2 {
    width: 200px;
    background-color: rgb(7, 78, 54);
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(-9999px);
    transition: 0.3s ease;
}

.drop-down > li:hover .drop-down-2 {
    transform: translateY(0px);
    transition: 0.3s ease;
}


.content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
}
.content h2{
    padding: 20px;
    font-size: 35px;
    text-decoration: underline;
    
}

.content p {
    font-size: 16px;
    padding: 18px;
}
.content .btn {
    display: inline-block;
    text-decoration: none;
    background-color: blueviolet;
    padding: 10px 20px;
    margin-top: 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.content .btn:hover {
    transform: scale(1.1);
    background-color: rgb(33, 5, 59);
}

